## Introduction

Python is an interpretted, high-level, general-purpose programming language. <br>
-Wikipedia

It is quickly becoming the most popular language for data applications as it is fairly easy to use and has robust library support.

## Installation and startup

1. Download Anaconda (https://www.anaconda.com/download/)
2. Type "jupyter notebook" into a Terminal (Mac) or Command Prompt (Windows)

A jupyter notebook (like this one) will appear in your browser.

## Basic Commands

In [1]:
print("hello world")

hello world

### Floats and Integers

In [4]:
print(2+2)

4

In [5]:
x = 4

In [6]:
3 * x

12

In [7]:
y = 7

### If Statements

In [8]:
if y > 5:
    print("y is big")

y is big

In [9]:
if False:
    print("Don't print this.")

### Loops

In [11]:
for x in range(5, 10):
    print(x)

5
6
7
8
9

In [12]:
for x in range(5, 15, 2):
    print(x)

5
7
9
11
13

# Functions

In [13]:
def add_three(n):
    return n + 3

In [15]:
add_three(0)

3

In [16]:
add_three(2)

5

## Packages

In [54]:
import math

In [55]:
math.factorial(5)

120

## Data Structures

Python has a number of data structures: <br>
-Lists (and Tuples) <br>
-Dictionaries (and Sets) <br>
-Numpy arrays <br>
-Pandas dataframes <br>
-Custom classes <br>

### Lists

In [30]:
my_list = [1, 2, 3, 4]

In [31]:
my_list[0] = -1
print(my_list)

[-1, 2, 3, 4]

In [32]:
my_list.append(5)
print(my_list)

[-1, 2, 3, 4, 5]

In [34]:
second_list = ["apple", 6, "sky"]
print(second_list)

['apple', 6, 'sky']

In [35]:
list_of_lists = [my_list, second_list]
print(list_of_lists)

[[-1, 2, 3, 4, 5], ['apple', 6, 'sky']]

In [36]:
list_of_lists[0]

[-1, 2, 3, 4, 5]

In [37]:
list_of_lists[0][0]

-1

### Tuples

In [41]:
my_tuple = (15, "dog", "cat")

In [42]:
my_tuple[1]

'dog'

### Dict

In [43]:
d = {}

In [44]:
d["dog"] = "cute"

In [45]:
d["cat"] = "wise"

In [46]:
print(d)

{'dog': 'cute', 'cat': 'wise'}

In [47]:
d["cat"]

'wise'

### Set

In [48]:
s = set()

In [49]:
s.add(7)

In [50]:
s.add("dog")

In [51]:
s.add(4)

In [52]:
print(s)

{'dog', 4, 7}

In [53]:
if "dog" in s:
    print("This set contains a dog!")

This set contains a dog!

### Numpy arrays

In [57]:
import numpy as np

In [68]:
A = np.array([[1,2], [3,4]])

In [59]:
print(A)

[[1 2]
 [3 4]]

In [62]:
np.shape(A)

(2, 2)

## Pandas Dataframe

In [91]:
import pandas as pd

In [94]:
ser = pd.Series([10,12,25,8])

In [95]:
print(ser)

0    10
1    12
2    25
3     8
dtype: int64

In [96]:
df = pd.DataFrame({"apple": [1,2,3], "banana":[4,5,6]})

In [97]:
df

   apple  banana
0      1       4
1      2       5
2      3       6

In [98]:
df.describe()

       apple  banana
count    3.0     3.0
mean     2.0     5.0
std      1.0     1.0
min      1.0     4.0
25%      1.5     4.5
50%      2.0     5.0
75%      2.5     5.5
max      3.0     6.0

## Classes

In [101]:
class Car(object):
    def __init__(self):
        self.cost = 20000
    def drive(self):
        self.cost -= 1000
        print(self.cost)

In [102]:
red_car = Car()

In [103]:
red_car.drive()

19000

In [104]:
red_car.drive()

18000

## Algorithmic efficiency

Suppose the length of the input, n, becomes large. How does the code scale?

## Conclusions

- Python is a useful language for data science and accessible to newcomers. <br>
- Think about the problem you are trying to solve. <br>
  - What data structures will you need? <br>
  - What are the most efficient algorithms? <br>
- When in doubt, google it! <br>